{% extends 'management/base.html' %}
{% block title %}Unit Form{% endblock %}
{% block content %}
<div class="container">
    <h2>{% if form.instance.pk %}Edit Employee{% else %}New Employee{% endif %}</h1>
    <form method="post" class="mt-4">
        {% csrf_token %}
        <div class="mb-3">
       
        {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-success">Save</button>
        <a href="{% url 'employee_list' %}" class="btn btn-secondary">Cancel</a>

    </form>
</div>
{% endblock %}
